@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
   /* background-image: url(https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?t=st=1722583253~exp=1722586853~hmac=7eef343aee3a2fbab2f0d18a38607227f6c7535f73eca604f665214459cef057&w=996);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(90deg, rgba(92,37,141,1) 18%, rgba(67,137,162,1) 100%);


}

  h1{
    color: yellowgreen;
  }

  li{
    list-style: none;
    cursor: pointer;
  }